body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

#canvas {
  z-index: -1;  /* background */
}

#media {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 200;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textbox {
  width: 90%;
  height: 30%;
  display: table;
}

#lyrics {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 5.3vw;
}
